<header class="h-16 flex items-center justify-between px-4 md:px-6 flex-shrink-0 mt-4 mx-4 glass-effect">
    <div class="flex items-center gap-4">
        <button id="open-sidebar-button" class="p-2 rounded-full hover:bg-zinc-800 lg:hidden">
            <i data-lucide="menu"></i>
        </button>

        {% if session.first_name %}
            <h2 class="text-base lg:text-lg font-semibold text-white">Welcome back, {{ session.first_name }}!</h2>
        {% else %}
            <h2 class="text-base lg:text-lg font-semibold text-white">Welcome back!</h2>
        {% endif %}
    </div>
    <div class="flex items-center space-x-2 md:space-x-4">
        <button class="p-2 rounded-full hover:bg-zinc-800">
            <i data-lucide="bell"></i>
        </button>

        <a href="{{ url_for('profile') }}">
            {% if session.profile_picture %}
                <img src="{{ url_for('static', filename='uploads/profiles/' + session.profile_picture) }}" alt="{{ session.first_name }}'s Profile Picture" class="w-10 h-10 rounded-full object-cover">
            {% else %}
                <img src="https://placehold.co/40x40/22c55e/ffffff?text={{ session.first_name[0] | upper if session.first_name else 'A' }}" alt="Admin" class="w-10 h-10 rounded-full">
            {% endif %}
        </a>
    </div>
</header>