<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
    {% block style %}{% endblock %}

</head>
<body class="bg-black text-zinc-300">

    <div class="flex h-screen">
        
        <!-- Sidebar -->
        {% include "partials/sidebar.html" %}

        <div class="flex-1 flex flex-col overflow-hidden">
            
            <!-- Navbar -->
            {% include "partials/navbar.html" %}

            <!-- Main Content -->
            <main class="flex-1 overflow-y-auto mt-2 mb-2" style="padding-right: 16px;">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    {% block scripts %}{% endblock %}
    <script>
        lucide.createIcons();
    </script>
</body>
</html>
